<html>
	<head>
		<title><%= @text %></title>
	</head>
	<body>
			<p>Hello World!</p>
			<p><i><%= @text %><i></p>
			<%= link_to('Say Goodbye Lemon', :action => 'goodbye')%><br />	
			<a href="/say/goodbye">Say Goodbye to Everyone!</a>	
				
		</body>	
</html>		