<html>
	<head>
		<title><%= @text %></title>
	</head>
			<hr width="99%" color="#ff0000" size="10" />
			<br />
			
	<body>
			<p>Hello World!</p>
			<p><i><%= @text %><i></p>
			<%= link_to('Say Goodbye', :action => 'goodbye')%><br />	
			<a href="/say/goodbye">Say Goodbye to Everyone!</a>	
			
			<br />
			<br />
			
			
			<a href="/">RETURN TO THE SMOKE TEST!</a>	
			<br />
			<br />
			
			<hr width="99%" color="#ff0000" size="10" />
			
			
				
		</body>	
</html>		