<html>
	<head>
		<title></title>
		</head>
		<body>
			
			<%= 'hello'%><br />
			<%= ('hello ' * 3) + 'world' %><br />
			<%= ('hello ' * 3) .concat 'world' %><br />
			<% some_text = 'HelloWorld ' -%>
			<%= (some_text * 3) .concat 'World' %><br />
			<%= some_text.insert(5, ' Ruby') %><br />
			<%= "Hello Ruby's Students" %><br />
			
		
			
			
		</body>
</html>